@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e2e8f0;
}

.container {
  width: 80%;
  max-width: 384px;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 20px 2px #afafafb5;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 64px;
  gap: 6px;
  padding: 16px;
}

.input-box {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box > input {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1.4rem;
  background-color: transparent;
  font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 2px;
  width: 100%;
  background-color: #16161630;
  border-radius: 32px;
  transition: 0.4s;
}

.input-box.active::before {
  background-color: #6366f1;
}

.submit-button {
  cursor: pointer;
  margin: 18px 0;
  padding: 20px;
  border: none;
  outline: none;
  background-color: #6366f1;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 8px;
}

.submit-button.disabled {
  cursor: not-allowed;
  background-color: #d6d3d1;
  color: #000;
}

.small-paragraph {
  margin-top: 12px;
  left: 0;
  font-size: 0.7rem;
  text-align: left;
  max-width: 80%;
}

.icon {
  height: 96px;
}

.icon > img {
  height: 100%;
  width: auto;
}
